<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WILDCOAST</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicon(s) -->
  <!-- <link rel="shortcut icon" href="assets/images/favicon.png?v3" type="image/x-icon" />
  <link rel="apple-touch-icon" href="assets/images/favicon.png?v3">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon.png?v3">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon.png?v3">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon.png?v3"> -->

  <!-- Stylesheets -->
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- <link rel="stylesheet" href="assets/css/style.min.css"> -->

  <!-- Modernizr & Prefix Free (All other JS in footer) -->
  <script src="../components/prefix-free/prefixfree.min.js"></script>

  <!-- Typekit -->
  <link rel="stylesheet" href="https://use.typekit.net/gxt1pgz.css">


</head>
<header id="header">
 <!--  <a class="logo" href="#" title="Wildcoast" alt="Wildcoast">
    <img src="assets/images/logo-red.png">
  </a> -->
  <nav id="nav">
    <div class="logo__container">
        <a class="logo" href="#" title="Wildcoast" alt="Wildcoast">
        </a>
    </div>
    <ul id="menu-primary">
      <li class="translate">
        <a class="large" href="#">Español</a>
      </li>
      <li>
        <a class="large" href="#">About us</a>
      </li>
      <li>
        <a class="large" href="#">What we do</a>
      </li>
      <li>
        <a class="large" href="#"where we>work</a>
      </li>
      <li>
        <a class="large" href="#">Join Us</a>
      </li>
      <li>
        <a class="large" href="#">Resources</a>
      </li>
      <li>
        <a class="large" href="#">Blog</a>
      </li>
      <li class="donate">
        <a class="large" href="#">Donate</a>
      </li>
    </ul>
  </nav>
</header>
<body class="@@body_class">

	<div id="app" class="@@app_class">

