// _footer.scss

.footer {
    height: 1035px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    display: flex;
    align-items: center;

    .row {
        width: 100%;
        .col-6 {
            height: 100%;
        }
    }

    h3 {
        padding-bottom: 30px;
    }

    .form {
        padding: 0px 0px 0px 170px;
    }

    .btn {
        margin-top: 10px;
    }

    .social-icon {
    background: $color-white;
    padding: 9px 5px;
    margin-right: 10px;
    color: $color-secondary;
}
}

.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social-icon--box{
    width: 50px;
    height: 50px;
    background-color: $color-white;

}

input, select, textarea {
    border: none;
}

input, select, textarea {
    border-bottom: 1px solid white;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    color: $color-white;
    padding-bottom: 15  px;
    margin: 10px 0px 20px;

    &::placeholder {
        color: $color-white;
        opacity: 1;
    }

    &#lastname{
        margin-left: 35px;
    }
}

.footer--bar {
    position: relative;
    bottom: 0;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 40px;
        margin-left: 30px;
    }

    .fiftylogo {
        img {
        height: 25px;
        margin-right: 20px;
        }
    }
}

.footer--nav{

    a {
        font-family: $font-default;
        weight: 500;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-secondary;
        margin: 0 10px;
        text-decoration: none;
    }
}
